<?xml version="1.0"?>
<launch>
  <arg name="paused" default="true" doc="Starts gazebo in paused mode" />
  <arg name="gui" default="true" doc="Starts gazebo gui" />
  <arg name="sim" default="true" />
  <arg name="debug" default="false" />
  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="worlds/empty.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- Convert xacro and put on parameter server -->
  <param name="robot_ws" command="$(find xacro)/xacro --inorder '$(find cubes_simulation)/urdf/workspace.urdf.xacro'" />
  <node name="spawn_ws" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_ws -model workspace -x 0 -y 0 -z 0" />

  <param name="robot_r" command="$(find xacro)/xacro --inorder '$(find cubes_simulation)/urdf/red_cube.urdf.xacro'" />
  <node name="spawn_cr1" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_r -model cuber1 -x 0.025 -y 0.03 -z 0.00707 -R 0 -P 0.785 -Y 0.25" />
  <node name="spawn_cr2" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_r -model cuber2 -x -0.024 -y 0.015 -z 0.00707 -R 0 -P 0.785 -Y 0.25" />

  <param name="robot_l" command="$(find xacro)/xacro --inorder '$(find cubes_simulation)/urdf/l_shape.urdf.xacro'" />
  <node name="spawn_l" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_l -model cubel -x 0 -y -0.025 -z 0.0177 -R 0 -P 0.785 -Y 0.25" />
  <!-- publisher node -->

</launch>
